<div id="dashboard-subtitle">
      <h5><i>Dashboard</i></h5>
    </div>
{{#each posts as |post|}}
    <div class="card" style="width: 18rem">
      <div class="card-header"><h5>{{post.title}}</h5></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{post.post_paragraph}}</li>

        {{!--username does not appear--}}
         <li class="list-group-item"><h6><i>Posted by:{{post.user.username}} At: {{format_date post.date_created}}</i></h6></li>
      </ul>
    </div>
    {{/each}}