<a href="/newpost"><button>New Post</button></a>

{{#each posts as |post|}}
    <div class="card" style="width: 18rem">
      <div class="card-header"><h5>{{post.title}}</h5></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{post.post_paragraph}}</li>

        {{!--username does not appear--}}
         <li class="list-group-item"><h6><i>Posted by:{{post.user.username}} At: {{format_date post.date_created}}</i></h6></li>
      </ul>
    </div>
    {{/each}}

    {{!-- <script src="/models/Post.js"></script> --}}
   

    
