
<div class="mb-3">
  <label for="username" class="form-label">Username</label>
  <input
    type="text"
    class="form-control"
    id="usernameLogIn"
    placeholder="username"
  />
</div>
{{!--password log in--}}
<div class="mb-3">
  <label for="password" class="form-label">Password</label>
  <input
    type="text"
    class="form-control"
    id="passwordLogIn"
    placeholder="password"
  />
</div>
{{!--submit button--}}
<form class="signup-form">
<div class="form-group">
    <button class="btn btn-primary" id ="logInButton" type="submit">Submit</button>
</div>
</form>
{{!--Incorrect file path?--}}
{{!--How to link to css?--}}
<script src="/js/login.js"></script>
