<div class="card commentCard" style="width: 60rem;">
  <div class="card-body">
      <form>
        <label for="formGroupExampleInput"></label>
    <input type="text" class="form-control postInputForm" id="post_title" placeholder="Comments...">
    <input type="text" class="form-control postInputForm" id="post_body" placeholder="Comments...">
  </div>
      <div class="col-sm-9">
      <button class="btn btn-primary postbutton" id="submitContent">POST</button>
    </form>
    </div>
</div>

<script src="post.js"></script>