{{!--email address--}}
<h3>Sign Up Here: </h3>
 <div class="mb-3 sign-up">
  <label for="emailAddressSignUp" class="form-label">Email address</label>
  <input
    type="email"
    class="form-control"
    id="emailAddressSignUp"
    placeholder="name@example.com"
  />
</div>
{{!--username log in--}}
<div class="mb-3 sign-up">
  <label for="username" class="form-label">Username</label>
  <input
    type="text"
    class="form-control"
    id="usernameSignUp"
    placeholder="username"
  />
</div>
{{!--password log in--}}
<div class="mb-3 sign-up">
  <label for="password" class="form-label">Password</label>
  <input
    type="text"
    class="form-control"
    id="passwordSignUp"
    placeholder="password"
  />
</div>
{{!--submit button--}}
<form class="signup-form sign-upBtn">
<div class="form-group" id="signUpBtn">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
</form>
{{!--Incorrect file path?--}}
{{!--How to link to css?--}}
<script src="/js/signup.js"></script>